@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <title>Проект</title>
</head>

<body>
    <div id="root"></div>
    <script src="~/dist/app.js"></script>
    <script src="~/dist/runtime.js"></script>
    <script src="~/dist/vendor.js"></script>
</body>

</html>






