* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    justify-content: space-between;
    padding: 0.25rem;
    
}

.navbar ul {
    display:flex;
    align-items: center;
    list-style: none;
}
.navbar ul li a {
    color: #000;
    padding: 0.65rem;
    margin-right: 1.5rem;
    border-radius: 10px;
    background: #fff;
    transition:all 0.6s ease;
}

.navbar ul li a:hover {
    color:#fff;
    background: #000;
}